/* --------------------------------------------------------------
   reset.css
   * Resets default browser CSS.
-------------------------------------------------------------- */

:root {
  --font-family: 'system-ui';
  --kungalgame-blue-4: #218bff;
  --kungalgame-red-5: #cf222e;
  --kungalgame-trans-white-9: #ffffff00;
}

/* Reset default CSS styles for all elements */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

/* Remove focus outlines on elements */
:focus {
  outline: none;
}

/* Compatibility for Firefox to hide scrollbars */
* {
  scrollbar-width: none;
  scrollbar-color: var(--kungalgame-blue-4) var(--kungalgame-trans-white-9);
}

/* Ensure that button and select elements inherit the font family */
button,
select {
  font-family: inherit;
}

button {
  padding: 0;
  margin: 0;
}

/* Font */
html {
  font-family: var(--font-family);
}
